<div id="navbar">
  <a id="logo" href="/">Logo</a>
  <ul id="nav-link">
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
    <li>Item4</li>
  </ul>
</div>

<div id="banner" style="background-image: url(<%= banner_image @blog %>);">
  <h2><%= yield(:banner_title) %><h2>
</div>