<div id="profile">
  <h4 class="title">ABOUT ME</h4>
  <p>Calvin Lee(lwd369)</p>
  <%= image_tag 'avatar.jpg', class: 'avater' %>
  <p class="intro">
    用一句话描述一下我自己。。。一名iOS开发者，对web很感兴趣，闲暇时间写写rails应用。
  </p>
  <%= render 'social_icons'%>
</div>