<% banner_title 'This is my house' %>
<div class="container clearfix">
  <div class="column two-third">
    <%= render @blogs%>
  </div>
  <div class="column one-third">
    <%= render 'about_me' %>
  </div>
  <%= will_paginate @blogs, previous_label: '上一页', next_label: '下一页'%>
</div>
