<div class="field">
  <div class="ui left icon input">
    <%= form.text_field :email, type: 'email', placeholder: '电子邮件' %>
    <i class="mail outline icon"></i>
  </div>
</div>

<div class="field">
  <div class="ui left icon input">
    <%= form.password_field :password, placeholder: '密码' %>
    <i class="privacy outline icon"></i>
  </div>
</div>