// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-post {
  border: 1px dashed lightcoral;

  a.blog-post-title {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px; 
    color: lightgreen;
    font-size: 20px;
  }

  a.blog-post-title:hover {
      color: palevioletred;
  }

  .blog-post-content {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 25px;
  }

  .post-info {
    font-size: 15px;

    .meta-info {
      margin-right: 15px;
    }

    .octicon {
      fill: lightgray;
    }
  }
}