.blog-post {
  border-bottom: 1px solid lightgrey;
  // margin-right: 20px;
  padding: 15px;
  a.blog-post-title {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px; 
    color: lightgreen;
    font-size: 20px;
  }

  a.blog-post-title:hover {
      color: palevioletred;
  }

  .blog-post-content {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 25px;
  }

  .post-info {
    font-size: 15px;

    .meta-info {
      margin-right: 15px;
    }

    .octicon {
      fill: lightgray;
    }
  }
}

.column {
  float: left;
  padding: 15px;
}

.two-third {
  width: 66.6666667%;
}

.one-third {
  width: 33.3333333%;
}

#profile {
  padding: 0 15px;

  .avater {
    width: 100%;
    height: auto;
  }

  .intro {
    text-align: center;
    font-size: 0.8em;
    color: black;
    padding: 0 10px;
  }
}

.list-inline {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }

  li.a {
    color: currentColor;
  }
}

.social-list {
    @extend .list-inline;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  li {
    margin-right: 20px;
  }
}

#image-modal {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 200px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  display: block;
  margin: 0 auto;
  z-index: 999;

  h3 {
    padding: 20px 0;
    text-align: center;
  }

  #upload, #cancel {
    width: 80%;
    height: 50px;
    border: none;
    background-color: #555;
    color: white;
    display: block;
    margin: 5px auto;
    font-size: 1.2em;
  }
  
}

.hidden {
  display: none !important;
}