// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#noAvailable {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #D84315, #FF8A65); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1, h2 {
    color: #fff;
  }

  h2 {
    font-size: 4em;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 3.5em;
  }
}

#navbar {
  position: absolute;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  color: white;

  #logo {
    margin-left: 20px;
    text-decoration: none;
    font-size: 2em;
  }

  a:visited {
    color: #fff;
  }

  #nav-link {
    list-style: none;
    margin-right: 20px;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

#banner {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: image-url("banner.jpg");
  background-size: cover;
  background-position: center;

  h2 {
    color: #FFF;
  }
}

.main-container {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  background-color: lightseagreen;
}

.main-container::after, .main-container::before {
  content: "";
  display: table;
  clear: both;
}

.left-article {
  width: 66.6666667%;
  float: left;
  background-color: blueviolet;
  padding: 15px;
}